/*主体布局*/
body {
    background-image: url("../image/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

/*主页面*/
#wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: flex-start;
}

/*导航栏*/
#headNav{
    background-color: bisque;
    margin: 0;
    padding: 0;

    height: 50px;
    width: 100%;

    position: fixed;

    display: flex;
    flex-direction: row;

    background-color: rgba(75, 92, 196, 0.4);
    backdrop-filter: blur(50px);

    z-index: 10;
}

/*导航栏链接*/
#headNav a {
    padding: 15px 40px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

/*导航栏悬停效果*/
#headNav li a:hover {
    background-color: #4b5cc4;
}

/*所有按钮统一样式*/
.BButton {
    width: 100%;
    line-height: 30px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
}

/*统一的按钮悬停样式*/
.BButton:hover {
    background-color: #4b5cc4;
}

@media (max-width: 500px) {

    #headNav a {
        padding: 10px 30px;
    }

    #headNav {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    #wrapper {
        /*background-color: red;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
