#complain_form {
    display: none;
}

#benefit_form {
    display: none;
}

#submit_order_form {
    display: none;
}

#close_button_wrapper {
    display: flex;
    justify-content: end;
}

#submit_button_wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.form_wrapper {
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.7);

    background-color: bisque;
    display: none;
    flex-direction: column;
    position: fixed;
}

.form_content_wrapper {
    margin: 10px 30px;
    display: flex;
}