/*主体布局*/
body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

/*主页面*/
#wrapper {
    background-color: wheat;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*导航栏*/
#headNav{
    background-color: bisque;
    margin: 0;
    padding: 0;

    height: 50px;
    width: 100%;

    position: fixed;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;

    background-color: rgba(75, 92, 196, 0.4);
    backdrop-filter: blur(50px);

    z-index: 10;
}

#headNav a {
    font-size: 15px;

    padding: 15px 40px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

/*导航栏悬停效果*/
#headNav li a:hover {
    background-color: #4b5cc4;
}
